/* Variables */
:root {
    /* Typo */
    --font-default: depot-new-web, sans-serif;

    /* Colors */
    --color-main: #900;
    --color-border: #ddd;

    /* Others */
    --shadow-default: .25rem .25rem .25rem rgba(0, 0, 0, .5);
    --rounded-default: .75rem
}

/* General */

/* Browser fix - Firefox*/
h1,
h2,
h3,
strong {
    font-weight: 500;

}

* {
    margin: 0;
    padding: 0;
    transition: border-color .25s linear, background-color .25s ease-in-out;
    font-weight: 400;

}

body {
    font: normal normal 16px/1.5 var(--font-default);
    background: var(--color-main);
    color: #000;
    text-align: center;

}

main {
    padding: 2rem;
    width: 50vw;
    margin: 0 auto;

}

article {
    padding: 2rem;
    background: #fff;
    border-radius: var(--rounded-default);
    box-shadow: var(--shadow-default);
    border: 1px solid var(--color-border);
}

footer {
    padding-top: 3rem;
    font-size: .85rem;
    color: #fff;
    font-weight: 300;

}

a {
    color: var(--color-main);
}

a:hover {
    outline: 1px dotted var(--color-main);
}

a[href*="http"]:after {
    content: "";
    background: url("https://cdn3.iconfinder.com/data/icons/arrow-outline-8/32/right_2-256.png") center no-repeat;
    background-size: contain;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: .5rem;
    transform: rotate(-45deg);
    opacity: .5;
}

figure {
    margin-bottom: 2rem;
}

figure img {
    box-shadow: var(--shadow-default);
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    border-radius: var(--rounded-default);
    max-width: 100%;
}

figure figcaption {
    font-size: 0;

}

abbr:hover {
    cursor: help;
}

ul {
    list-style-type: none;
}

section {
    padding: 2.5rem 0 2.5rem;
    border-bottom: 1px solid var(--color-border);
}

section:last-of-type {
    border-bottom-width: 0;
}

section ul li {
    margin-bottom: 2rem;
}

p {
    text-align: left;
    margin-bottom: 1rem;
    font-size: .85rem;
}


header .section-title {
    font-weight: 500;
    font-size: 3.5rem;

}

h3 {
    font-size: 1rem;
}

details {
    text-align: left;
    padding: .5rem;
}

details:hover {
    cursor: pointer
}

details h3 {
    display: inline;
}

details[open] {
    box-shadow: var(--shadow-default);
    border: 1px solid var(--color-border);
    border-radius: calc(var(--rounded-default) / 2);
    position: relative;
    margin: 0 0 1rem;
}

details summary::-webkit-details-marker,
details summary::marker {
    font-size: 1rem;
}


/*Components*/

.section-title {
    color: var(--color-main);
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

.info {
    opacity: .65;
    font-size: .85rem;
    margin: 0 0 .5rem 1rem;

}

.tag {
    display: inline-block;
    margin: .5rem;
    margin-left: 0;
    padding: .125rem .5rem;
    border: 1px solid var(--color-border);
    border-radius: calc(var(--rounded-default) / 2)
}

/* Custom sections */


.section-lang ul li,
.section-contact ul li {
    display: inline-block;
    width: 45%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-contact ul a {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-lang .info {
    margin: 0;
}

/* Media Query*/
@media (max-width: 1280px) {
    main {
        width: calc(95vw - 4rem);
    }
}